<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzp.mapper.UserMapper">
	<resultMap id="resultBean" type="com.pzp.model.User">
		<result property="id" column="id" javaType="java.lang.String"></result>
		<result property="name" column="name" javaType="java.lang.String"></result>
		<result property="account" column="account" javaType="java.lang.String"></result>
		<result property="password" column="password" javaType="java.lang.String"></result>
		<result property="lastUpdateName" column="lastUpdateName" javaType="java.lang.String"></result>
		<result property="luastUpdateTime" column="lastUpdateTime" javaType="java.lang.String"></result>
	</resultMap>
	
	<sql id="base_column">
		id, name, account, password, lastUpdateName, lastUpdateTime
	</sql>
	
	<sql id="insert_base_column">
		(name, account, password, lastUpdateName, lastUpdateTime)
	</sql>
	
	<insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.pzp.model.User">
		insert into t_user
		<include refid="insert_base_column"></include>
		values(#{name}, #{account}, #{password}, #{lastUpdateName}, #{lastUpdateTime})
	</insert>
	
	<insert id="addUsers" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		insert into t_user
		<include refid="insert_base_column"></include>
		values
		<foreach collection="list" item="item" separator=",">
			(
			 #{item.name},
			 #{item.account},
			 #{item.password},
			 #{item.lastUpdateName},
			 #{item.lastUpdateTime}
			 )
		</foreach>
	</insert>
	
	<select id="findUsersByPage" resultType="com.pzp.model.User">
		select
		<include refid="base_column"></include>
		from t_user
	</select>
	
	<select id="findUsersByNameAndAccount">
		select
		<include refid="base_column"></include>
		from t_user
		<trim prefix="where" prefixOverrides="and">
			<if test="name != null">
				name = #{name},
			</if>
			<if test="account != null">
				and account = #{account}
			</if>
		</trim>
	</select>
	
</mapper>